.App {
  text-align: center;
}

@import url('https://fonts.googleapis.com/css?family=Overpass+Mono');

body {
  background-color: #222;
}

.App-logo {
  animation: App-logo-spin infinite 1s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 0px;
  padding: 0px;
  color: white;
}

.colorize{
  color: white;
  font-family: 'Overpass Mono', monospace;
  font-size: 100px;
}



.foot {
  margin: 0;
  position: absolute;
  bottom: 2%;
  right:25%;
  left:25%;
  color: white;
  font-family: 'Overpass Mono', monospace;
  display: inline;

}





@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
