.App {
  text-align: center;
}

#r1{
  width: 50px;
  font-family: 'Monda', sans-serif;
  font-size: 12px;
  text-align: center;
}

#r2{
  width: 50px;
  font-family: 'Monda', sans-serif;
  font-size: 12px;
  text-align: center;
}

#r3{
  width: 50px;
  font-family: 'Monda', sans-serif;
  font-size: 12px;
  text-align: center;
}

@import url('https://fonts.googleapis.com/css?family=Overpass+Mono');
@import url('https://fonts.googleapis.com/css?family=Monda');

body {
  background-color: rgbx;
}

.App-logo {
  animation: App-logo-spin infinite 1s linear;
  height: 80px;
}

#inputbox2{
  font-family: 'Monda', sans-serif;
  font-size: 24px;
  width: 150px;
  text-align: center;
  text-transform: uppercase;
}

.colorize{
  color: white;
  font-family: 'Overpass Mono', monospace;
  font-size: 100px;
}

#myRange2 {
  /*removes default webkit styles*/
  -webkit-appearance: none;

  /*fix for FF unable to apply focus style bug */
  border: 1px solid white;

  /*required for proper track sizing in FF*/
  width: 200px;
}

#myRange2::-webkit-slider-runnable-track {
  width: 200px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}
#myRange2::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #01FF70;
  margin-top: -4px;
}
#myRange2:focus {
  outline: none;
}
#myRange2:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

#myRange2::-moz-range-track {
  width: 200px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}
#myRange2::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #01FF70;
}

/*hide the outline behind the border*/


#myRange2:-moz-focusring{
  outline: 1px solid white;
  outline-offset: -1px;
}

#myRange2::-ms-track {
  width: 200px;
  height: 5px;

  /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
  background: transparent;

  /*leave room for the larger thumb to overflow with a transparent border */
  border-color: transparent;
  border-width: 6px 0;

  /*remove default tick marks*/
  color: transparent;
}
#myRange2::-ms-fill-lower {
  background: #777;
  border-radius: 10px;
}
#myRange2::-ms-fill-upper {
  background: #ddd;
  border-radius: 10px;
}
#myRange2::-ms-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #01FF70;
}
#myRange2:focus::-ms-fill-lower {
  background: #888;
}
#myRange2:focus::-ms-fill-upper {
  background: #ccc;
}

#myRange1 {
  /*removes default webkit styles*/
  -webkit-appearance: none;

  /*fix for FF unable to apply focus style bug */
  border: 1px solid white;

  /*required for proper track sizing in FF*/
  width: 200px;
}
#myRange1::-webkit-slider-runnable-track {
  width: 200px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}
#myRange1::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #FF4136;
  margin-top: -4px;
}
#myRange1:focus {
  outline: none;
}
#myRange1:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

#myRange1::-moz-range-track {
  width: 200px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}
#myRange1::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #FF4136;
}

/*hide the outline behind the border*/
#myRange1:-moz-focusring{
  outline: 1px solid white;
  outline-offset: -1px;
}

#myRange1::-ms-track {
  width: 200px;
  height: 5px;

  /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
  background: transparent;

  /*leave room for the larger thumb to overflow with a transparent border */
  border-color: transparent;
  border-width: 6px 0;

  /*remove default tick marks*/
  color: transparent;
}
#myRange1::-ms-fill-lower {
  background: #777;
  border-radius: 10px;
}
#myRange1::-ms-fill-upper {
  background: #ddd;
  border-radius: 10px;
}
#myRange1::-ms-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #FF4136;
}
#myRange1:focus::-ms-fill-lower {
  background: #888;
}
#myRange1:focus::-ms-fill-upper {
  background: #ccc;
}
.foot {
  margin: 0;
  position: absolute;
  bottom: 2%;
  right:25%;
  left:25%;
  color: white;
  font-family: 'Overpass Mono', monospace;
  display: inline;

}

#myRange3 {
  /*removes default webkit styles*/
  -webkit-appearance: none;

  /*fix for FF unable to apply focus style bug */
  border: 1px solid white;

  /*required for proper track sizing in FF*/
  width: 200px;
}
#myRange3::-webkit-slider-runnable-track {
  width: 200px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}
#myRange3::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #0074D9;
  margin-top: -4px;
}
#myRange3:focus {
  outline: none;
}
#myRange3:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

#myRange3::-moz-range-track {
  width: 200px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}
#myRange3::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #0074D9;
}

/*hide the outline behind the border*/
#myRange3:-moz-focusring{
  outline: 1px solid white;
  outline-offset: -1px;
}

#myRange3::-ms-track {
  width: 200px;
  height: 5px;

  /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
  background: transparent;

  /*leave room for the larger thumb to overflow with a transparent border */
  border-color: transparent;
  border-width: 6px 0;

  /*remove default tick marks*/
  color: transparent;
}
#myRange3::-ms-fill-lower {
  background: #777;
  border-radius: 10px;
}
#myRange3::-ms-fill-upper {
  background: #ddd;
  border-radius: 10px;
}
#myRange3::-ms-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #0074D9;
}
#myRange3:focus::-ms-fill-lower {
  background: #888;
}
#myRange3:focus::-ms-fill-upper {
  background: #ccc;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
